$white: #fff;
$white-opacity: #ffffff60;
$graphite: #2b2b2b;
$dark-cool-gray: #41454a;
$steel-gray: #4c505c;
$steel-blue-gray: #5e6a77;
$steel-blue-gray-opacity: #5e6a7750;
$dark-gray: #454853;
$medium-gray: #959494;
$grey: #ebebeb80;
$light-grey: #13131360;
$light-steel-blue: #b1cbd9;
$desaturated-blue: #648190;
$orange-shade: #f78f1e;

$light-text: $white;
$nav-color: $steel-gray;
$main-content-color: $steel-gray;
$heading-color: $graphite;
$highlight-color-1: $orange-shade;
$highlight-color-2: $desaturated-blue;
$highlight-color-3: $light-steel-blue;
$label-color: $medium-gray;
$search-bg: $steel-gray;
$search-hover: $highlight-color-2;
$heading-color: $steel-blue-gray;
$recognize-section-color: $dark-cool-gray;
$chips-bg: $steel-blue-gray-opacity;
$form-container: $white-opacity;
$modal-bg: $white;
$modal-input: $steel-blue-gray-opacity;
$form-border: $grey;
$form-color: $light-grey;
$form-bg: $white;
$form-highlight: $light-steel-blue;
$text-area-bg: $steel-blue-gray;
$preview-card-bg: $light-steel-blue;
