@use "../variables/breakpoints";

.page-container {
  display: flex;
  flex-direction: column;
  background-image: url('../images/bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 30px 0 70px;
}

.page-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 0%;
  gap: 30px;

  @media (min-width: breakpoints.$breakpoint-sm-max) {
    flex-direction: row;
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 0%;
  overflow: auto;
}

.container {
  margin: 0 30px;

  @media (min-width: breakpoints.$breakpoint-xl-max) {
    margin: 0 90px;
  }
}
