@use "../../variables/animations";
@use "../../variables/colors";
@use "../../variables/breakpoints";

%btn {
  border: none;
  background: transparent;
  white-space: nowrap;
  font-family: inherit;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.15rem;
  font-weight: 600;
  height: 36px;
  padding: 10px 15px;
  color: colors.$light-text;
  transition: animations.$transition;

  &:disabled,
  &.disabled {
    color: colors.$white;
    background-color: colors.$medium-gray;
    border-color: colors.$medium-gray;
    cursor: default;
    pointer-events: none;
  }


  @media (min-width: breakpoints.$breakpoint-xs-max) {
    font-size: 1.1rem;
    line-height: 1.2rem;
    height: 46px;
  }

	@media (min-width: breakpoints.$breakpoint-md-max) {
    padding: 10px 25px;
  }

  @media (min-width: breakpoints.$breakpoint-xl-max) {
    height: 56px;
    font-size: 1.2rem;
    line-height: 1.3rem;
	}
}

.top-nav-button {
  @extend %btn;
  padding: 0;
}

.btn-primary {
  @extend %btn;
  background-color: colors.$highlight-color-3;

  &:hover {
    background-color: colors.$highlight-color-2;
    box-shadow: 0 4px 8px colors.$highlight-color-2;
  }
}

.btn-danger {
  @extend %btn;
  border: 1px solid colors.$highlight-color-1;
  background-color: colors.$highlight-color-1;

  &:hover {
    box-shadow: 0 4px 8px colors.$highlight-color-1;
  }
}
