@use "../../variables/colors";
@use "../../variables/breakpoints";
@use "../../variables/animations";

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
	font-family: "Montserrat", sans-serif;
}

.modal-content {
    background-color: colors.$modal-bg;
    padding: 30px;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 300px;
	width: 35%;
	min-height: 250px;
    position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.38em;
    cursor: pointer;
}

.close-modal{
	&:hover {
		color: colors.$highlight-color-1;
	}
}

.modal-input{
	height: 42px;
	width: 100%;
	outline: none;

	opacity: 0.600;
	background-color: colors.$form-container;
	border: 3px solid colors.$modal-input;
	padding: 5px 10px;
	font-size: 1rem;
	letter-spacing: 2px;

	&:focus {
		border: 3px solid colors.$highlight-color-2;
	}
}

.modal-controls {
	display: flex;
	gap: 15px;
}
